@use "sass:math";
@import "_/_Lib";
@import "_/Core";
@import "Lalilo";
@import "_/Bootstrap";
@import "public";



$primary: #fbb03b; // 橘色
$primary2: #d89032; // 深橘色
$success: #4CAF50; // 綠色
$white: #FFFFFF;
$gray-700: #495057;

$pink: #f09aa8;
$pink2: #dd7a8d;

$blue: #56ace2;
$blue2: #3e99c6;

$green: #75cc92;
$green2: #4aaf64;

$purple: #c38ccf;
$purple2: #bd7fcc;


$border-radius: 1rem;

$brown: #6e4435; // 咖啡色
$yellow-light: #fffdf9;

// 斷點會員中心
$breakpoints: (
  xxs: 320px,
  xs: 375px,
  s: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1920px,

);

// Mixins
@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hover-scale {
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}


// 分類區塊
.category-section {
  // max-width: 1080px;
  margin: 0 auto;

  .container {
    max-width: 1080px;
  }

  .active-img {
    transform: scale(1.2);
  }
}


main {
  position: relative;
  z-index: 1;

  // 精選區塊
  .featured-section {
    // padding: 2rem 0;

   // .container {
   //  position: relative;
   //  background-image: url(../images/doll-orange-light.svg);
   //  background-size: 10px;
   //  background-position: 0 38px;
   //  background-repeat: repeat-x;
   // }

    h2 {
      position: relative;
      z-index: 1;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/doll-orange.svg);
        background-position: center;
        background-repeat: repeat-x;
        width: 40%;
        height: 3px;
        pointer-events: none;

        @include media-breakpoint-down(md) {
          width: 28%;
        }
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    h3 {
      padding: 0 2rem;
    }

    .swiper {
      padding-bottom: 2rem;
      .swiper-slide {
        padding: 0 2rem;
      }

      .swiper-button-prev,
      .swiper-button-next {
        top: calc(50% - 16px);
      }

      &.featured-book-swiper {
        .featured-item {
          border: 4px solid #F0B154;
        }

        .swiper-button-prev,
        .swiper-button-next {
          color: #F0B154;
        }
      }

      &.featured-video-swiper {
        .featured-item {
          border: 4px solid #E39DA7;

          img {
            object-fit: cover;
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          color: #E39DA7;
        }

        .swiper-pagination {
          
          .swiper-pagination-bullet-active {
            background-color: #E39DA7;
          }
        }
      }

      .swiper-button-prev {
        left: 0;

        &:after {
          font-size: 2rem;
        }
      }

      .swiper-button-next {
        right: 0;
        &:after {
          font-size: 2rem;
        }
      }

      .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet-active {
          background-color: #F0B154;
          width: 1rem;
          border-radius: 2rem;
        }
      }
    }
    

    .featured-item {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 1rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }

      .featured-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem 1rem;

        span {
          display: block;
          padding: 0.5rem;
          margin: 0;
          text-align: left;
          color: $white;
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }

  // 輪播區塊
  .carousel-section {
    margin-top: 4rem;
    background-color: #A4D3AD;
    position: relative;
    // background-image: url(../images/footer-bg.webp);
    // background-size: contain;
    // background-position: center;

    .container {
      position: relative;
      background-image: url(../images/footer-bg.webp);
      background-size: contain;
    }

    .footer_tree {
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      right: 0;
      z-index: 0;

      > img { 
        @include media-breakpoint-down(lg) {
          max-width: 60%;
        }
      }
    }

    .carousel-swiper {
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 15%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }

      &:before {
        left: 0;
        background: linear-gradient(to right, 
          rgba(164, 211, 173, 1) 0%, 
          rgba(164, 211, 173, 0) 100%
        );
      }

      &:after {
        right: 0;
        background: linear-gradient(to left, 
          rgba(164, 211, 173, 1) 0%, 
          rgba(164, 211, 173, 0) 100%
        );
      }
    }

    .carousel-item {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 1rem;

      a {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}



// 頁尾
footer {
  background-color: $yellow-light;

  @include media-breakpoint-down(lg) {
    text-align: center;
  }
  
  .copyright {
    color: $brown;
    font-size: .8rem;
    margin: 0;
  }
}
